@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 8px;


}

html::-webkit-scrollbar-track {
  background: #cbd5e1;

}

html::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 10px
}

section.hero {
  @apply grid;
  grid-template-columns: repeat(2, 1fr);

}

.menuCard:hover {
  @apply shadow;
  box-shadow: 0 8px 7px rgb(0 0 0 / .5);
}

.active {
  @apply text-primary border-b-[2px] border-primary
}

@layer base {
  .container {
    @apply max-w-[1440px] px-[20px] mx-auto
  }
}